html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: teal;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: aquamarine;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10vh);
}

.App-container {
  background-color: rgb(107, 210, 176);
  position: relative;
  width: 450px;
  padding: 40px 50px;
}