html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: teal;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: aquamarine;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10vh);
}

.App-container {
  background-color: rgb(107, 210, 176);
  position: relative;
  width: 450px;
  padding: 40px 50px;
  border-radius: 10px;
}

.quote-text {
  height: auto;
  font-weight: 500;
  font-size: 30px;
  padding: 10px;
}

.icon-link {
  padding: 0 12px;
}

.quote-author {
  text-align: right;
  padding: 10px;
  font-size: large;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px;

}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkolivegreen;
  color: white;
  border-radius: 10px;
  padding: 5px 8px;
  font-size: 14px;
  cursor: pointer;
}

.button:hover,
.xButton:hover {
  color: blue;
}